[submodule "documentjs"]
	path = documentjs
	url = git://github.com/bitovi/documentjs.git
[submodule "funcunit"]
	path = funcunit
	url = git://github.com/bitovi/funcunit.git
[submodule "jquery"]
	path = jquery
	url = git://github.com/bitovi/jquerymx.git
[submodule "steal"]
	path = steal
	url = git://github.com/bitovi/steal.git
[submodule "mxui"]
	path = mxui
	url = git://github.com/bitovi/mxui.git
[submodule "envjs"]
	path = envjs
	url = git://github.com/bitovi/env-js.git
[submodule "mxutil"]
	path = mxutil
	url = git://github.com/bitovi/mxutil.git
[submodule "funcit"]
	path = funcit
	url = git://github.com/jupiterjs/funcit.git
